# Core functionality - changes here should be rare!
/src/app.py                   @Natekot202
/src/backend/database.py      @Natekot202
/src/backend/routers/auth.py  @Natekot202

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Natekot202
